.loading-circle {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.span-loading-circle {
    position: absolute;
    border-radius: 50%;
    border: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    animation: anim-loading-circle 2s linear infinite;
}

@keyframes anim-loading-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

.span-loading-circle:nth-child(1) {
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border-bottom-color: red;
    border-top-color: red;
    animation-delay: 0.1s;
}


.span-loading-circle:nth-child(2) {
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    border-bottom-color: orange;
    border-top-color: orange;
    animation-delay: 0.2s;
}

.span-loading-circle:nth-child(3) {
    left: 20px;
    top: 20px;
    bottom: 20px;
    right: 20px;
    border-bottom-color: yellow;
    border-top-color: yellow;
    animation-delay: 0.3s;
}

.span-loading-circle:nth-child(4) {
    left: 30px;
    top: 30px;
    bottom: 30px;
    right: 30px;
    border-bottom-color: green;
    border-top-color: green;
    animation-delay: 0.4s;
}

.span-loading-circle:nth-child(5) {
    left: 40px;
    top: 40px;
    bottom: 40px;
    right: 40px;
    border-bottom-color: blue;
    border-top-color: blue;
    animation-delay: 0.5s;
}

.span-loading-circle:nth-child(6) {
    left: 50px;
    top: 50px;
    bottom: 50px;
    right: 50px;
    border: 10px solid indigo;
    animation-delay: 0.6s;
}

.span-loading-circle:nth-child(7) {
    left: 60px;
    top: 60px;
    bottom: 60px;
    right: 60px;
    border: 10px solid violet;
    animation-delay: 0.7s;
}