.running-tiger {
    position: relative;
    margin-top: 20%;
    margin-bottom: 10%;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 810px) {
    .running-tiger {
        margin-top: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .running-tiger {
        margin-top: 60%;
    }
}


.container-tiger {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 30%;
    left: 55%;
    width: 300px;
    height: 25px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 30px;
}

.loading-tiger {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.span-tiger {
    background: linear-gradient(to right, orange, black, orange, black);
    width: 15px;
    height: 50px;
    margin: 6px;
    transform: rotate(40deg);
    animation: loading-tiger .3s linear infinite;
    position: relative;
}

@keyframes loading-tiger {
    0% {
        left: -50px;
    }
    100% {
        left: 0;
    }
}

video {
    transform: scaleX(-1);
    position: absolute;
    width: 250px;
    top: -20%;
    left: 15%;
}

ul {
    position: absolute;
    left: 18%;
    top: 45%;
    display: flex;
}

li {
    list-style: none;
    font-size: 30px;
    font-weight: 500;
    color: orange;
    font-family: cursive;
}