.wifi {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.span-wifi {
    position: absolute;
    border: 16px solid transparent;
    border-top: 16px solid whitesmoke;
    border-radius: 50%;
    animation: anim-wifi 1s linear infinite;
}

@keyframes anim-wifi {
    0% {
        border-top: 20px solid whitesmoke;
    }
    70% {
        border-top: 20px solid whitesmoke;
    }
    100% {
        border-top: 20px solid deeppink;
    }
}

.span-wifi:nth-child(1) {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    animation-delay: 0.7s;
}

.span-wifi:nth-child(2) {
    left: 32px;
    top: 32px;
    right: 32px;
    bottom: 32px;
    animation-delay: 0.5s;
}

.span-wifi:nth-child(3) {
    left: 64px;
    top: 64px;
    right: 64px;
    bottom: 64px;
    animation-delay: 0.3s;
}

.span-wifi:nth-child(4) {
    left: 96px;
    top: 96px;
    right: 96px;
    bottom: 96px;
    animation-delay: 0.1s;
}

.span-wifi:nth-child(5) {
    left: 124px;
    top: 124px;
    right: 124px;
    bottom: 124px;
    animation-delay: 0s;
    border: 16px solid deeppink;
    animation: none;
}